.head{
    text-align: center;
    font-size: 3rem;
    margin: 2px;
    padding: 2px;
}

.pera{
    text-align: justify;
    padding: 5px;
    letter-spacing: 2px;
    margin: 3px;
}

.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnn button{
    height: 50px;
    width: 130px;
    margin: 0px 10px;
}