main{
    height: calc((100vh -80px));
    background-color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main-head{
    padding-top: 6rem;
    margin-top: 3rem;
}
.h1-head{
    padding: 1rem;
    font-size: 6rem;
}

.head-p{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .5rem;
    letter-spacing: .1rem
}

.head-btn{
    font-size:1.5rem;
    height: 9vh;
    width: 10vw;
    text-align: center;
}