.ulnav{
    list-style: none;
    
}

.ulnav li {
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
}

.ulnav li:hover{
    border-bottom: 1px solid orange;
    padding: 2px;
    transition: all .5s;
}